@import "./_reset";
@import "./_mixins";

$red : #E6776B;

body {
    @include backgroundGradient
}

h1 {
    @include bigTitle;
    color: white;
    text-align: center;
    margin: 3rem;
}

h2,
label {
    @include smallTitle;
    margin-left: 5%;
}

// global data

.container-global-statistic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 7rem;
    position: relative;
    margin: 5% 0;
    height: 15rem;

    // h2 {
    //     width: 100%;
    // }

    .global-data__confirmed,
    .global-data__deaths {
        border: 2px solid #E6776B;

        h3 {
            color: #E6776B;
        }
    }

    .global-data__discovered {
        border: 2px solid #50FFB1;

        h3 {
            color: #50FFB1;
        }
    }

    div {
        height: 150px;
        width: 200px;

        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h3 {
            @include smallTitle2;
        }

        p {
            font-family: 'Hind Madurai', sans-serif;
            font-size: 2rem;
            color: white;
            letter-spacing: 3px;
        }

    }
}



// MAP

.map {
    width: 80%;
    margin: 5% 10%;

    .st0,
    .st1,
    .st2,
    .st3,
    .st4,
    .st5 {
        fill: $red;
    }

    #Am-nord,
    #Am-sud,
    #Europe,
    #Asie,
    #Afrique,
    #Oceanie {
        transition: .4s;

        &:hover {
            opacity: 0.5;
        }
    }


}







li,
select {
    @include paragraph;
}

ul {
    margin-left: 5%;
}

select {
    height: 3rem;
    width: 30rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 15px;
}

.container-choose-countrie {
    width: 100%;
    margin-top: 5rem;
}


// footer
footer {
    width: 90%;
    height: 100px;
    margin: 2% 5% 0 5%;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        @include paragraph
    }
}