<%- include('_head'); -%>

<body>
    <header>
        <h1>Covid-19 | statistiques</h1>
    </header>
    <main>
        <div class="container-global-statistic">
            <div class="global-data__confirmed">
                <h3>Contaminés</h3>
            </div>

            <div class="global-data__deaths">
                <h3>Décès</h3>
            </div>

            <div class="global-data__discovered">
                <h3>Guérris</h3>
            </div>
        </div>

        <div class="chart-div" style="width: 90vw; margin: auto;">
            <canvas id="myChart"></canvas>
        </div>

        <div class="map">
            <h2 class="title-continent"></h2>
            <div class="container-data-continents">
                <div class="global-data-map__confirmed">
                    <h3>Contaminés</h3>
                </div>

                <div class="global-data-map__deaths">
                    <h3>Décès</h3>
                </div>

                <div class="global-data-map__discovered">
                    <h3>Guéris</h3>
                </div>
            </div>
            <%- include('_continents'); -%>
        </div>


        <div class="container-choose-countrie">
            <label for="countrie">Choisir un pays : </label>
            <select name="countrie" id="countrie"></select>
            <ul class="data-results"></ul>
        </div>

    </main>

    <footer>
        <div class="sources-api">
            <p>Source : https://covid19.mathdro.id/api</p>
        </div>
        <div class="update"></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/static/scripts/ajax.js"></script>
    <script src="/static/scripts/script.js"></script>
</body>

</html>